@import '../../styles/colors';

.card_anchor {
  color: inherit;
  text-decoration: none;
}

.card_anchor:hover {
  color:inherit;
}

.card_custom {
  border-radius: 10px;
  margin: 10px 0;
}

.card_dark {
  background-color: $bg-dark;
  color: $text-dark;
}

.card_body {
  border-left: 0.5rem solid $primary-color;
  border-radius: 10px;
  font-weight: bold;
}