@import './../../styles/colors';

.banner {
  width: 100%;
  height:25rem;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.search_container {
  height: 23rem;
  top: 56px;
  color: white;
  display: table;
  width: 100%;
}

.container_body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.search_input {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.search_input:focus {
  outline: none
}

.search_button {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  background-color: $primary-color;
  color: black !important;
  width: 10rem;
}
