@import './../../styles/colors';

.banner {
  width: 100%;
  height:25rem;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.banner_container {
  height: 21.5rem;
  top: 56px;
  color: white;
  display: table;
  width: 100%;
}

.container_body {
  display: table-cell;
  vertical-align: middle;
  // text-align: center;
}