.margin_bottom {
  margin-bottom: 1.5rem;
}

.image_custom {
  border-radius: 7px;
  overflow: hidden;
  height: 70px;
}

.people {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.people_text {
  margin-left: 1rem;
}