@import '../../styles/colors';

.modal_dark {
  background-color: $bg-dark !important;
  color: $text-dark;
}

.modal_header {
  border-bottom: 2px solid rgba(0,0,0,.125);
}

.margin_bottom {
  margin-bottom: 1.5rem;
}

.image_custom {
  border-radius: 7px;
  overflow: hidden;
  height: 70px;
}

.people {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.people_text {
  margin-left: 1rem;
}