@import 'colors';

.movie_container {
  margin-top: -4.5rem;
}

.col_center {
  text-align: -webkit-center;
}

.image_wrapper {
  width: 90%;
  height: 0;
  position: relative;
  padding-bottom: 130%;
  border-radius: 20px;
  overflow: hidden;
  margin-top: -15rem;
}

.movie_actions {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.vote_average {
  font-size: 22px;
  padding: 11.5px 10px;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  text-align: center;
  font-weight: bold;
  color: $text-dark;
  background-color: $primary-bg;
  margin-right: 1.5rem;
}

.icon_rounded {
  width: 55px;
  height: 55px;
  background-color: $primary-bg;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  margin-right: 1.5rem;
}

.icon {
  margin-top: 8px;
  background: transparent;
  border: none;
  padding: 0;
}

.trailer_text {
  margin-left: -0.5rem;
  font-size: 18px;
}

.subtitle_separator {
  display: inline-block;
  font-size: 18px;
  margin: 0 0.7rem;
}

.tagline {
  margin: 0.7rem 0;
  font-style: italic;
  opacity: 0.7;
}

.sosmed_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sosmed_logo {
  margin: 1rem;
}

.personal_info {
  text-align: left;
}

.sub_info {
  margin-top: 1.5rem
}

.badge_keywords {
  margin-right: 6px;
  margin-bottom: 6px;
}

.recom_title {
  margin-top: 1.5rem;
}

.scroll_container {
  display: flex;
  overflow-x: auto;
}