@import 'colors';

.col_center {
  text-align: -webkit-center;
  margin-bottom: 1.5rem;
}

.image_wrapper {
  width: 90%;
  height: 0;
  position: relative;
  padding-bottom: 130%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.bio_wrapper {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clamped {
  -webkit-line-clamp: 4;
}

.bio_paragraph {
  white-space: pre-line;
}

.show {
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  color: $primary-color;
}

.scroll_container {
  display: flex;
  overflow-x: auto;
}

.sub_title {
  margin-top: 1.5rem;
}

.sosmed_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sosmed_logo {
  margin: 1rem;
}

.personal_info {
  text-align: left;
  margin-top: 1rem;
}

.sub_info {
  margin-top: 1.5rem
}

.card_dark {
  background-color: $bg-dark;
  color: $text-dark;
}

.credits_group {
  padding: 0.5rem 0.3rem;
}

.credits_item {
  margin: 0.8rem 0.5rem;
  display: flex;
}

.credit_year {
  display: inline-block;
  width:4rem;
  text-align: center;
}

.credit_separator {
  margin-left: 0.5rem;
}

.credit_anchor {
  color: inherit;
  text-decoration: none;
}

.credit_anchor:hover {
  color:inherit;
}

.credit_title {
  margin-left: 1.5rem;
}

.credit_as {
  margin: 0.5rem;
  opacity: 0.7;
}
