@import 'colors';

.row_margin {
  margin-top: 1rem;
}

.row_custome {
  justify-content: center;
}

.col_left_margin {
  margin-bottom: 1.5rem;
}

.col_right_margin {
  margin-top: -10px;
}

.center_content {
  text-align: -webkit-center;
}
